{%capture base_css%}
{%-include 'base.css'-%}
{%endcapture%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>hello, 11ty</title>
	<style>
		{{ base_css }}
	</style>
</head>
<body>
	<main>
		{{ content }}
	<main>
</body>
</html>
